<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
  </head>

<div id="new-peep">
  <form action="/peeps" method="post">
    Peep: <input type="text" name="peep">
    <input type="submit" value="Add Peep">
  </form>
</div>


<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.text %></li>
  <% end %>
</ul>

</html>