<html>

  <head>

  	<title>Chitter</title>

    <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/custom.css">

  </head>

  <header>
  <h1><a href="/" class="title">Chitter.</a></h1>
	  <section="topper">
	  <div id="logo">
	  	<img src="logo.png" alt="logo">
	  </div>
	  <ul>
		  <li>
		  	<% if current_user %>
			    Welcome, <%= current_user.username %>
			    <form method="post" action="/sessions" class ="signout">
			      <input type="hidden" name="_method" value="delete">
			      <input type="submit" value="Sign out">
			    </form></li>
			  <% else %>
			<li>
			  <a href="/sessions/new" class="button orange">Sign In</a></li>
			<li> 
				<a href="/users/new" class="button orange">Sign Up</a></li> 
			  <% end %>

	  </ul>
  </header>
  </section="topper">
<body>


	<% if flash[:errors] && !flash[:errors].empty? %>
	  Sorry, there were the following problems with the form.
	  <ul id="errors">
	    <% flash[:errors].each do |error| %>
	      <li><%= error %></li>
	    <% end %>
	  </ul>
	<% end %>
	

	<% if flash[:notice] %>
	    <div id="notice">
	      <%= flash[:notice] %>
	    </div>
	<% end %>


	<%= yield %>


</body>
</html>